<p id="notice"><%= notice %></p>

<h1>Tweets</h1>
<% @tweets.each_slice(3) do |three_tweets| %>
  <div class="card-deck">
    <% three_tweets.each do |tweet| %>
      <div class="card bor mb-3" style="max-width: 70rem;">
        <div class="card-header">
          <h3><%= tweet.Tittle %></h3>
        </div>
        <div class="card-body text-grey">
        <p><%= tweet.content %></p>
        <%= link_to 'Show', tweet, class: 'btn bot'%>
        <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn bot'%>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%=time_ago_in_words tweet.updated_at%></small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>


<%= link_to 'New Tweet', new_tweet_path, class: 'btn big btn-lg btn-block'  %>
